doctype html
html
  include head
  body
    header
      include header
    if (loggedIn == true)
      nav
        include navigation
    #content
      if (loggedIn != true)
        include pages/login
      else
        block content
    footer
      include footer
