!!! 5
html
  include head
  body
    header
      include header
    if (loggedIn == true)
      nav
        include navigation
    #content
      if (loggedIn != true)
        include pages/login
      else
        if (page == undefined)
          include pages/welcome
        else if (page == 'themes')
          include pages/themes
        else if (page == 'schedules')
          include pages/schedules
        else if (page == 'marquee')
          include pages/marquee
        else if (page == 'notices')
          include pages/notices
        else
          include ../404.jade
    footer
      include footer