!!! 5
html
  include head
  body
    header
      include header
    if (loggedIn == true)
      nav
        include navigation
    #content
      if (loggedIn != true)
        include login
      else
        include welcome
    footer
      include footer