.container
  ul
    li
      a(href='/admin/themes') Themes
    li
      a(href='/admin/schedules') Schedules
    li
      a(href='/admin/marquee') Marquee
    li
      a(href='/admin/notices') Notices

  a(href="/admin/logout",id="sign-out") Sign Out →