# Editor backup files
*~

# Node.js libraries and modules
node_modules

# OS X
.DS_Store

# Eclipse project info
.project
.buildpath
.settings

# Stylus compile files
/public/css/*.css
/public/css/admin/*.css

# App config
/config/database.yaml
