@import url("http://fonts.googleapis.com/css?family=Open\+Sans:400,300");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100|Anonymous\+Pro");

body {
	margin: 0; padding: 0;

	background-color: #2c3e50;
	background-image: url("/wallpaper/active");
	background-repeat: none;

	font: 500 38px/1.25em "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
	color: white;

	-webkit-text-size-adjust: 100%;
}

#wrapper {
	margin-top: 0.85em;
	padding: 0 0.5em 0.5em;

	display: flex;
	display: -webkit-flex;
}

#marquee {
	background-color: rgba(51, 51, 51, 0.75);
	margin-top: 19px; padding: 0 0.5em;
	color: #FAFAFA;
}

#marquee ul {
	margin: 0; padding: 0;
	height: 1.5em;
}

#marquee ul li {
	padding: 0.2em 0px 0.2em 0.5em;
}

#clock {
	width: 45%;
	padding: 0 2% 2em;

	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	order: 2;
	-webkit-order: 2;

	text-align: center;
	text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.8);
}

#clock p {
	margin: 0; padding: 0;
}

#clock #date {
	font-size: 1.25em;
	line-height: 1.5em;
}

#clock #time {
	margin-top: 0.35em;
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1em;
}

#schedule {
	width: 50%;
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;

	color: black;
	font-weight: 700;

	border-radius: 2px;
}

#schedule ol {
	margin: 0; padding: 0;
	background-color: rgba(0,0,0, 0.7);
	list-style-type: none;
}

#schedule ol li {
	padding: 0.2em 0.5em;
	background: linear-gradient(#F0F0F0, #D2D2D2);
	border-top: 1px solid #fff;
	border-bottom: 1px solid rgba(0,0,0, 0.5);
	transition: border-width 0.2s;
}

#schedule ol li:first-child {
	border-radius: 2px 2px 0 0;
}

#schedule ol li:last-child {
	border-radius: 0 0 2px 2px;
}

#schedule ol li.active {
	background: linear-gradient(#444, #222);
	border-top: 1px solid #444;
	color: #FFF;
}

#schedule ol li.next {
	border-top: 10px solid rgba(0, 0, 0, 0.5);
}

#schedule.collapsing ol li.next {
	border-top: 1px solid #fff;
	border-radius: 2px 2px 0 0;
}

#schedule.collapsing ol li.active {
	border-radius: 2px 2px 0 0;
}

.closingTime #clock #date {
	font-size: 1.5em;
}

.closingTime #clock #time {
	font-size: 4em;
	margin-top: 0.15em;
}

.closingTime #schedule {
	display: none;
}

@media screen and (max-width: 1000px) {
	#wrapper {
		flex-direction: column;
		-webkit-flex-direction: column;
	}

	#schedule, #clock {
		width: 100%;
		order: 0;
		-webkit-order: 0;
	}

	#clock {
		padding: 0 0 2em;
	}
}

@media screen and (max-width: 700px) {
	.closingTime #clock #time {
		font-size: 3em;
	}
}

@media screen and (max-width: 530px) {
	#clock, #schedule, #marquee {
		font-size: 7.17vw;
		line-height: 1.25em;
	}
}
