a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}

a:hover {
	color: rgb(153, 153, 153);
}

input, textarea, button {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 14px;
}

textarea {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

input, textarea {
	color: rgb(51, 51, 51);

	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
}

input:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
}

.cancel {
	background: linear-gradient(center, rgb(255, 255, 255), rgb(230, 230, 230));
	border: 1px solid rgba(0,0,0, 0.3); border-radius: 3px;
}

.cancel a {
	display: block;
	height: 20px;
	padding: 6px 10px;
}

input[type='submit'] {
	height: 34px;
	padding: 6px 10px;
	background-color: #2980b9;
	border: 1px solid #0d0d8e; border-radius: 3px;
	color: white;
}

input[type='text'] {
	height: 20px;
	margin: 0; padding: 6px 8px;
}

input[type='file'] {
	height: 20px;
	margin: 0; padding: 6px 6px;
}
