a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}

a:hover {
	color: rgb(153, 153, 153);
}

input, textarea, button {
	font-family: "Open Sans";
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	padding: 3px;
}

input {
	padding: 6px 8px;
}

input, textarea {
	color: rgb(51, 51, 51);

	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
}

.cancel {
	padding: 6px 10px;
	margin-right: 5px;
	float: left;
	background: linear-gradient(center, rgb(255, 255, 255), rgb(230, 230, 230));
	border: 1px solid rgba(0,0,0, 0.3); border-radius: 3px;
}

input:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
}

input[type='submit'] {
	background-color: #2980b9;
	border: 1px solid #0d0d8e; border-radius: 3px;
	color: white;
	padding: 4px 10px;
}
