@import url("http://fonts.googleapis.com/css?family=Open\+Sans:400,300");

body {
	background: url("http://i.imgur.com/FvF2N.jpg");
	background-repeat: none;

	font-family: "Open Sans";
	font-weight: 300;
	color: white;
}

#wrapper {
	margin: 20px 5% 0;
	overflow: hidden;
}

#marquee {
	background-color: rgba(0,0,0, 0.6);
	padding: 1px 20px;
	border-radius: 3px;
}

#time {
	float: right;
}

#schedule {
	background-color: rgba(0,0,0, 0.6);

	margin-top: 20px;

	float: left;
	overflow: hidden;
	font-size: 40px;

	border-radius: 5px;
}

#schedule ol {
	margin: 0; padding: 0;
	list-style-type: none;
}

#schedule ol li {
	padding: 3px 15px;
}