// CSS3 Flexible Box

display-flex()
  -webkit-flex arguments
  flex arguments

flex(grow, shrink, basis)
  -webkit-flex grow shrink auto // Chrome and Safari need updating
  flex grow shrink basis

flex-direction()
  -webkit-flex-direction arguments
  flex-direction arguments

order()
  -webkit-order arguments
  order arguments

flex-wrap()
  -webkit-flex-wrap arguments
  flex-wrap arguments

justify-content()
  -webkit-justify-content arguments
  justify-content arguments
