doctype html
html
  include layout/head
  body
    header
      include layout/header
    if (authenticated == true)
      nav
        include layout/navigation
    #content
      block content
    footer
      include layout/footer
