doctype html
html
  include head
  body
    header
      include header
    if (authenticated == true)
      nav
        include navigation
    #content
      if (authenticated != true)
        include login
      else
        block content
    footer
      include footer
