doctype html
html
  include head
  body
    header
      include header
    if (authenticated == true)
      nav
        include navigation
    #content
      block content
    footer
      include footer
