extend index
block content
  #login
    h2 Login
    form(action='/admin/login',method='post')
      include flash
      input(type='password',name='password',placeholder='Password')
      input(type='submit',value='Go')