extend index
block content
  #login
    h2 Setup
    include layout/flash
    form(action='/admin/setup',method='post')
      input(type='password',name='password',placeholder='Password')
      input(type='submit',value='Go')
