extend ../index
block content
  h2 Notices
  if (notices.length == 0)
    p
      | No notices yet! Why don't you make one?
  form(action='/notices/create',method='post').notice-create
    input(type='text',name='notice[text]',placeholder='What do you need to notify the school of?')
    input(type='submit',value='Save')
