head
  title Clock
  link(rel="stylesheet", href="/css/clock.css")
  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(type="text/javascript", src="https://rawgithub.com/timrwood/moment/2.1.0/min/moment.min.js")
  //- this is bad, so so so bad
  script(type="text/javascript", src="http://localhost:3001/socket.io/socket.io.js")
  script(type="text/javascript", src="/js/clock.js")