head
  title Clock
  link(rel="stylesheet", href="/css/clock.css")
  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(type="text/javascript", src="http://momentjs.com/downloads/moment.min.js")
  script(type="text/javascript", src="/js/clock.js")
