.theme-create,
.schedule-create,
.notice-create,
.period-create,
.schedule-edit,
.period-edit {
	margin-top: 30px;
	display: flex;
}

.theme-create input + input,
.schedule-create input + input,
.notice-create input + input,
.period-create input + input,
.schedule-edit input + input,
.period-edit input + input {
	margin-left: 5px;
}

.theme-create input[type='text'],
.schedule-create input[type='text'],
.notice-create input[type='text'],
.period-create input[type='text'],
.schedule-edit input[type='text'],
.period-edit input[type='text'] {
	flex: 1 1 auto;
}

.period-edit .cancel {
	flex: 1 1 auto;
	margin: 0 5px;
}

.periods {
	margin-top: 30px;
}

.period-create input[name="period[number]"] { flex: 0 1 25px; }
.period-create input[name="period[text]"]   { flex: 2 1 100px; }
.period-create input[name="period[start]"]  { flex: 1 1 50px; }
.period-create input[name="period[finish]"] { flex: 1 1 50px; }

.period-edit input[name="period[number]"] { flex: 0 1 25px; }
.period-edit input[name="period[text]"]   { flex: 2 1 100px; }
.period-edit input[name="period[start]"]  { flex: 1 1 50px; }
.period-edit input[name="period[finish]"] { flex: 1 1 50px; }

.marquee-create {
	margin-top: 30px;
}

.marquee-create textarea,
.marquee-edit textarea {
	height: 120px;
}

.marquee-create input[type='submit'],
.marquee-edit input[type='submit'] {
	margin-top: 5px;
	float: right;
}

.marquee-edit .cancel {
	margin-top: 5px; margin-right: 5px;
	float: left;
}

.submit-container {
	float: right;
	overflow: hidden;
}
