#theme-create {
	margin-top: 30px;
}

.theme-create { margin-top: 30px; }
.theme-create input[type=text] { width: 70%; width: calc(100% - 260px); }
.theme-create input[type=file] { width: 250px; min-height: 35px; padding: 4px 6px;}

#marquee-item button {
	margin-right: 3px;
}

.marquee-create {
	margin-top: 30px;
}

.marquee-create textarea {
	width: 100%; height: 120px;
}

.schedule-item {
	margin-top: 30px;
}

.schedule-item input[type=text] {
	width: 40%;
	width: calc(50% - 35px);
}

.schedule-item .submit-container {
	margin-top: 0;
}

.periods {
	margin-top: 30px;
}

#period-create {
	margin-top: 30px;
}

#period-create .submit-container { margin-top: 0; }
#period-edit .submit-container { margin-top: 0; }

#period-create input[name="period[number]"] { width: 50px; }
#period-create input[name="period[text]"]   { width: 47%; width: calc(60% - 129px); }
#period-create input[name="period[start]"]  { width: 20%; }
#period-create input[name="period[finish]"] { width: 20%; }

#period-edit input[name="period[number]"] { width: 50px; }
#period-edit input[name="period[text]"]   { width: 46%; width: calc(64% - 202px); }
#period-edit input[name="period[start]"]  { width: 18%; }
#period-edit input[name="period[finish]"] { width: 18%; }
