.theme-create,
.schedule-create,
.notice-create,
.period-create,
.schedule-edit,
.period-edit {
	margin-top: 30px;
	display: flex;
}

form {
	display: flex;
	flex-wrap: wrap;
}

form > * {
	margin-left: 5px;
}

form > :first-child {
	margin-left: 0px;
}

form > input[type='text'] {
	flex: 1 1 main-size;
}

.periods {
	margin-top: 30px;
}

.marquee-create, .marquee-edit {
	margin-top: 30px;
	justify-content: flex-end;
}

form > input[name="period[number]"] { flex: 0 0 main-size; width: 25px; }
form > input[name="period[text]"]   { flex: 2 1 main-size; width: 100px; }
form > input[name="period[start]"]  { flex: 1 1 main-size; width: 50px; }
form > input[name="period[finish]"] { flex: 1 1 main-size; width: 50px; }

.marquee-create textarea,
.marquee-edit textarea {
	height: 120px;
}

.submit-container {
	display: flex;
	margin-top: 5px;
}

.submit-container > * {
	margin-left: 5px;
}

.submit-container > :first-child {
	margin-left: 0px;
}

a.cancel {
	display: block;
	padding: 5px 10px;
	min-height: 20px;
	background: linear-gradient(center, rgb(255, 255, 255), rgb(230, 230, 230));
	border: 1px solid rgba(0,0,0, 0.3); border-radius: 3px;
}
