header {
  margin: 0; padding: 0;
	background-color: rgb(81, 135, 135);
	color: white;
  font: 300 14px/3.5em "Roboto";
}

header .container {
	margin: auto; padding: 0 10%;
	max-width: 800px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
	color: rgb(239, 239, 239);
}

header h1 {
	margin: 0; padding: 0;
}

header h1 a {
	display: block;
  font-weight: 700;
  font-size: 18px;
	text-transform: uppercase;
}

#refresh-clock {
  display: block;
  margin-right: 1.5em;
  float: left;
  font-weight: 500;
}

#view-clock {
  display: block;
  float: right;
}
