header {
	margin: 0; padding: 12px 0;

	background-color: rgb(81, 135, 135);
	color: white;

	font-family: "Open Sans";
	font-weight: 300;
}
header .container {
	margin: auto; padding: 0 10%;
	max-width: 800px;
	overflow: hidden;
}
header a:hover {
	color: rgb(239, 239, 239);
}

header h1 {
	margin: 0; padding: 0;

	display: block;
	float: left;

	font-size: 18px;
	font-weight: 400;
}
header a {
	color: white;
	text-decoration: none;
}
#view-clock {
	margin-top: 3px;
	font-family: "Roboto";
	font-size: 14px;
	float: right;
}
