@import url("http://fonts.googleapis.com/css?family=Open\+Sans:300,400,500");
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400");

body {
	margin: 0; padding: 0;

	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	color: rgb(51, 51, 51);
}

#content {
	margin: auto; padding: 50px 10% 60px;
	max-width: 800px;
	overflow: hidden;
}

h2 {
	margin: 0; margin-bottom: 20px; padding: 0 0 5px 0;
	border-bottom: 1px solid rgb(240, 240, 240);
}

th, td {
	text-align: left;
}

table {
	width: 100%
	border-collapse: collapse;
	border-spacing: 0px;
}

table th {
	border-bottom: 1px solid #ccc;
	font-weight:bold;
}

table td, table th {
	padding:.8em .4em;
}

table td .text {
	padding-right:5%;
	width:80%;
}

table tr + tr {
	border-top: 1px solid rgb(224, 224, 224);
}

table tr.active {
	background: rgba(255, 255, 0, 0.5);
}

table tr.active:hover {
	background: rgba(255, 255, 0, 0.35);
}

#preview img {
	width: 100%;
}

.submit-container {
	margin-top: 5px;
	float: right;
}

@import '../elements.styl'
@import 'header'
@import 'navigation'
@import 'footer'

@import 'edit'
@import 'pages/login'
