nav {
	margin: 0; padding: 0;
	background-color: rgb(103, 164, 164);
	color: white;
	font: 300 14px/3.5em "Roboto";
}

nav .container {
	margin: auto; padding: 0 10%;
	max-width: 800px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

nav ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: white;
	font-size: 14px;
	line-height: 1.5em;
	text-decoration: none;
}

nav ul li a:hover {
	color: rgb(239, 239, 239);
}

nav ul li + li {
	margin-left: 1.5em;
}

#sign-out {
	display: block;
	text-decoration: none;
	color: white;
}

#sign-out:hover {
	color: rgb(239, 239, 239);
}
