extend ../index
block content
  h2 Marquee Items
  h3 Editing marquee item #{marquee._id}
  form(action='edit',method='post').marquee-edit
    textarea(name='marquee[text]',rows=5)= marquee.text
    .submit-container
      a.cancel(href='/admin/marquee') Cancel
      input(type='submit',value='Save')
