extend ../index
block content
  include ../layout/flash
  h2 Marquee Items
  if (marquees.length == 0)
    p
      | No marquees yet! Why don't you make one?
  else
    table.marquees
      thead
        tr
          th Text
          th Actions
      tbody
        for marquee in marquees
          tr
            td= marquee.text
            td
              <a href="/admin/marquee/#{marquee._id}/edit">Edit</a> —
              <a href="/admin/marquee/#{marquee._id}/delete">Delete</a>
  form(method='post',action='/admin/marquee/create').marquee-create
    textarea(name='marquee[text]',placeholder='What do you want to say?')
    .submit-container
      input(type='submit',value='Save')
