p
  | © 2010–2014 by <a href="http://ethnt.me/">Ethan Turkeltaub</a>,
  | <a href="http://gluxon.com/">Brandon Cheng</a>,
  | <a href="https://github.com/ericsims">Eric Sims</a>, and FHS Audio-Visual Support.
p
  | GitHub Issues Humans.txt
p
  = version
