p
  | © 2010–2014 by <a href="http://ethnt.me/">Ethan Turkeltaub</a>,
  | <a href="http://gluxon.com/">Brandon Cheng</a>,
  | <a href="https://github.com/ericsims">Eric Sims</a>, and FHS Audio-Visual Support.
p
  | <a href="https://github.com/fhsav/clock.js">GitHub</a>
  | <a href="https://github.com/fhsav/clock.js/issues/">Issues</a>
  | <a href="/Humans.txt">Humans.txt</a>
p
  = version
