head
  title Clock - Administration
  link(rel="stylesheet", href="/css/admin/main.css")
  script(type="text/javascript", src="/js/bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript", src="/js/admin.js")
