head
  title Clock - Administration
  link(rel="stylesheet", href="/css/admin/main.css")
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(type="text/javascript", src="/js/admin.js")
