extend ../index
block content
  include ../layout/flash
  h2 Notices
  if (notices.length == 0)
    p
      | No notices yet! Why don't you make one?
  else
    table.notices
      thead
        tr
          th Text
          th Actions
      tbody
        for notice in notices
          tr
            td= notice.text
            td
              <a href="/admin/notices/#{notice._id}/edit">Edit</a> —
              <a href="/admin/notices/#{notice._id}/delete">Delete</a>
  form(action='/admin/notices/create',method='post').notice-create
    input(type='text',name='notice[text]',placeholder='What do you need to notify the school of?')
    input(type='submit',value='Save')
